<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Craft Beer Trading App">
    <meta name="keywords" content="Beer Trading, Craft Beer">
    <meta name="author" content="Danielle Renee">

    <title>
      
        Whalz Dashboard &middot; 
      
    </title>

    <script src="static/dist/tether.min.js"></script>

   
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link rel="stylesheet" href="static/dist/toolkit-light.css">
    <link rel="stylesheet" href="static/dist/application.css">

    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="static/liquidFillGauge.js" language="JavaScript"></script>


    <style>
        html {
        background: url('static/dash_home.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>


  </head>


<body>
  <div class="container">
        <style>
            body {
            background-color: transparent;
          }
        </style>
    <div class="row">
      <div class="col-md-3 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="/">
              <span class="icon icon-cup sidebar-brand-icon"></span>
            </a>
          </div>

          <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
            <form class="sidebar-form">
              <input class="form-control" type="text" placeholder="Search...">
              <button type="submit" class="btn-link">
                <span class="icon icon-magnifying-glass"></span>
              </button>
            </form>
            <ul class="nav nav-pills nav-stacked flex-column">
              <li class="nav-header">Dashboards</li>
              <li class="nav-item">
                <a class="nav-link active" href="../index-light/index.html">Whalz dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/trade">Trade history</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#docsModal" data-toggle="modal">
                  Example modal
                </a>
              </li>
            </ul>
            <hr class="visible-xs mt-3">
          </div>
        </nav>
      </div>
      <div class="col-md-9 content">
        <div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Whalz dashboard</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">

<!-- to do: change value to current week -->
      <input type="text" value="07/24/17 - 07/31/17" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div>
  </div>
</div>

<!-- Add d3 with labels here. -->

<hr class="mt-3">


<div class="row text-center mt-5">
  <div class="col-md-4 mb-4 mb-md-3">
    <div class="w-3 mx-auto">
       <svg id="fillgauge1" width="100%" height="250" onclick="gauge1.update(NewValue());"></svg>
    </div>
    <strong class="text-muted">Highest trade volume this week</strong>
    <h4>Bourbon County Vanilla</h4>
  </div>


<!-- <div class="row text-center mt-5"> -->
  <div class="col-md-4 mb-4 mb-md-3">
    <div class="w-3 mx-auto">
       <svg id="fillgauge2" width="100%" height="250" onclick="gauge2.update(NewValue());"></svg>
    </div>
    <strong class="text-muted">Most sought after beer this week</strong>
    <h4>Kentucky Brunch Brand Stout</h4>
  </div>



<!--   <div class="row text-center mt-5"> -->
  <div class="col-md-4 mb-4 mb-md-3">
    <div class="w-3 mx-auto">
       <svg id="fillgauge3" width="100%" height="250" onclick="gauge3.update(NewValue());"></svg>
    </div>
    <strong class="text-muted">Coming soon</strong>
    <h4>Strawberry Creamsicle IPA</h4>
  </div>
</div>

<!--   <div class="col-md-4 mb-4 mb-md-3">
    <div class="w-3 mx-auto">
      <canvas
        class="ex-graph"
        width="200" height="200"
        data-chart="doughnut"
        data-dataset="[330, 30]"
        data-dataset-options="{ backgroundColor: ['#1ca8dd', '#1bc98e'] }"
        data-labels="['Returning', 'New']">
      </canvas>
    </div>
    <strong class="text-muted">Revenue</strong>
    <h4>New vs Recurring</h4>
  </div>


  <div class="col-md-4 mb-4 mb-md-3">
    <div class="w-3 mx-auto">
      <canvas
        class="ex-graph"
        width="200" height="200"
        data-chart="doughnut"
        data-dataset="[100, 260]"
        data-dataset-options="{ backgroundColor: ['#1ca8dd', '#1bc98e'] }"
        data-labels="['Referrals', 'Direct']">
      </canvas>
    </div>
    <strong class="text-muted">Traffic</strong>
    <h4>Direct vs Referrals</h4>
  </div>
</div> -->


<!-- Need to add one d3 element here.  -->

<!-- <svg id="fillgauge1" width="97%" height="250" onclick="gauge1.update(NewValue());"></svg> -->
<!-- <svg id="fillgauge2" width="19%" height="200" onclick="gauge2.update(NewValue());"></svg>
<svg id="fillgauge3" width="19%" height="200" onclick="gauge3.update(NewValue());"></svg>
<svg id="fillgauge4" width="19%" height="200" onclick="gauge4.update(NewValue());"></svg>
<svg id="fillgauge5" width="19%" height="200" onclick="gauge5.update(NewValue());"></svg>
<svg id="fillgauge6" width="19%" height="200" onclick="gauge6.update(NewValue());"></svg> -->


<div class="hr-divider mt-5 mb-3">
  <h3 class="hr-divider-content hr-divider-heading">This week's featured picks</h3>
</div>

<div class="row statcards">
  <div class="col-md-6 mb-5">
    <div class="statcard statcard-success">
      <div class="p-3">
        <span class="statcard-desc">Featured style</span>
        <h2 class="statcard-number">
          {{ style_name }}
        </h2>
        <hr class="statcard-hr mb-0">
      </div>
      <p>{{ style_description }}</p>
    </div>
  </div>
  
  <div class="col-md-6 mb-5">
    <div class="statcard statcard-info">
      <div class="p-3">
        <span class="statcard-desc">Featured beer</span>
        <h2 class="statcard-number">
          {{ beer_name }}
          <small class="delta-indicator delta-negative">{{ abv }}</small>
        </h2>
        <hr class="statcard-hr mb-0">
      </div>
      <p>{{ description }}</p>
    </div>
  </div>
</div>

<hr class="mt-5">

<!-- List the newest brews and the breweries who have released them. -->

    <div class="list-group mb-3">
      <h6 class="list-group-header">
        Fresh off the boat
      </h6>
      {% for new in new_list %}
        <a class="list-group-item list-group-item-action justify-content-between" href="#">
          <h5 class="mb-1">{{ new[0] }}</h5>
          <span class="text-muted">{{ new[2] }}</span>
          <p>{{ new[1] }}</p>
          <small>ABV {{ new[3] }}%</small>
        </a>
      {% endfor %}
    </div>

  <div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>

    <script language="JavaScript">

var gauge1 = loadLiquidFillGauge("fillgauge1", 55);
    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#FF7777";
    config1.textColor = "#FF4444";
    config1.waveTextColor = "#FFAAAA";
    config1.waveColor = "#FFDDDD";
    config1.circleThickness = 0.2;
    config1.textVertPosition = 0.2;
    config1.waveAnimateTime = 1000;
    var gauge2= loadLiquidFillGauge("fillgauge2", 28, config1);
    var config2 = liquidFillGaugeDefaultSettings();
    config2.circleColor = "#D4AB6A";
    config2.textColor = "#553300";
    config2.waveTextColor = "#805615";
    config2.waveColor = "#AA7D39";
    config2.circleThickness = 0.1;
    config2.circleFillGap = 0.2;
    config2.textVertPosition = 0.8;
    config2.waveAnimateTime = 2000;
    config2.waveHeight = 0.3;
    config2.waveCount = 1;
    var gauge3 = loadLiquidFillGauge("fillgauge3", 60.1, config2);
    var config3 = liquidFillGaugeDefaultSettings();
    config3.textVertPosition = 0.8;
    config3.waveAnimateTime = 5000;
    config3.waveHeight = 0.15;
    config3.waveAnimate = false;
    config3.waveOffset = 0.25;
    config3.valueCountUp = false;
    config3.displayPercent = false;
    var gauge4 = loadLiquidFillGauge("fillgauge4", 50, config3);
    var config4 = liquidFillGaugeDefaultSettings();
    config4.circleThickness = 0.15;
    config4.circleColor = "#808015";
    config4.textColor = "#555500";
    config4.waveTextColor = "#FFFFAA";
    config4.waveColor = "#AAAA39";
    config4.textVertPosition = 0.8;
    config4.waveAnimateTime = 1000;
    config4.waveHeight = 0.05;
    config4.waveAnimate = true;
    config4.waveRise = false;
    config4.waveHeightScaling = false;
    config4.waveOffset = 0.25;
    config4.textSize = 0.75;
    config4.waveCount = 3;
    var gauge5 = loadLiquidFillGauge("fillgauge5", 60.44, config4);
    var config5 = liquidFillGaugeDefaultSettings();
    config5.circleThickness = 0.4;
    config5.circleColor = "#6DA398";
    config5.textColor = "#0E5144";
    config5.waveTextColor = "#6DA398";
    config5.waveColor = "#246D5F";
    config5.textVertPosition = 0.52;
    config5.waveAnimateTime = 5000;
    config5.waveHeight = 0;
    config5.waveAnimate = false;
    config5.waveCount = 2;
    config5.waveOffset = 0.25;
    config5.textSize = 1.2;
    config5.minValue = 30;
    config5.maxValue = 150
    config5.displayPercent = false;
    var gauge6 = loadLiquidFillGauge("fillgauge6", 120, config5);

   

    function NewValue(){
        if(Math.random() > .5){
            return Math.round(Math.random()*100);
        } else {
            return (Math.random()*100).toFixed(1);
        }
    }
</script>


   <!-- Latest compiled and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Link to my JavaScript -->
    <script src="static/dist/toolkit.js"></script>
    <script src="static/dist/tether.min.js"></script>
    <script src="static/dist/chart.js"></script>
    <script src="static/dist/tablesorter.min.js"></script>
    <script src="static/dist/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
<!-- 
http://api.jquery.com/load -->
    
  </body>
</html>