<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo Night">
    <meta name="keywords" content="Whalz, Beer Trading, Python">
    <meta name="author" content="Danielle Renee Russell">

    <title>
      
        Whalz Demo &middot; 
      
    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link rel="stylesheet" href="static/dist/toolkit-light.css">
    <link rel="stylesheet" href="static/dist/application.css">

    <style>
        html {
        background: url('static/dash_home.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

        #sidelogo { 
        width: 75%;
        height: 75%; 
      }

    </style>

  </head>


<body>
  <div class="container">
        <style>
            body {
            background-color: transparent;
          }
        </style>
    <div class="row">
      <div class="col-md-3 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="/">
         <!--      <span class="icon icon-cup sidebar-brand-icon"></span> -->

               <img src="static/whalz_logo.png" alt="Whalz Sidebar Logo" id='sidelogo'>

            </a>
          </div>
        </nav>

      </div>
      <div class="col-md-9 content">
        <div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Demo</h6>
    <h2 class="dashhead-title">Beer trading among members</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">

    </div>
  </div>
</div>

<div class="row text-center mt-5">

</div>


<div class="hr-divider mt-5 mb-3">
  <h3 class="hr-divider-content hr-divider-heading">Looking for trades.</h3>
</div>
  <pre>
  
def search_for_trades():

    """ Returns all possible trades in a list, where each possibility is a tuple:

    the first index of the tuple is inventory_id and the second is iso_id.
    
    """

    possible_list = []

    all_possible = db.session.query(ViewPossibleTrade.inventory_id, ViewPossibleTrade.iso_id).all()

    for each in all_possible:
        possible_list.append(each)

   
return possible_list



def other_way(): 

    """ Evaluates the list of possible trade tuples, 
    
    checks to see if there are any matches the other way.

    """

    check_the_other_way = [(t[1], t[0]) for t in possible_list


    its_a_match = set(all_possible) & set(check_the_other_way)


return its_a_match 

      </pre>



      </div>
    </div>
  </div>


   <!-- Latest compiled and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Link to my JavaScript -->
    <script src="static/dist/toolkit.js"></script>
    <script src="static/dist/tether.min.js"></script>
    <script src="static/dist/chart.js"></script>
    <script src="static/dist/tablesorter.min.js"></script>
    <script src="static/dist/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>


  </body>
</html>