<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo Night">
    <meta name="keywords" content="Whalz, Beer Trading, Python">
    <meta name="author" content="Danielle Renee Russell">

    <title>
      
        Whalz Demo &middot; 
      
    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link rel="stylesheet" href="static/dist/toolkit-light.css">
    <link rel="stylesheet" href="static/dist/application.css">

    <style>
        html {
        background: url('static/dash_home.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

        #sidelogo { 
        width: 75%;
        height: 75%; 
      }

    </style>

  </head>


<body>
  <div class="container">
        <style>
            body {
            background-color: transparent;
          }
        </style>
    <div class="row">
      <div class="col-md-3 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="/">
         <!--      <span class="icon icon-cup sidebar-brand-icon"></span> -->

               <img src="static/whalz_logo.png" alt="Whalz Sidebar Logo" id='sidelogo'>

            </a>
          </div>
        </nav>

      </div>
      <div class="col-md-9 content">
        <div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Demo</h6>
    <h2 class="dashhead-title">Whalz Database</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">

    </div>
  </div>
</div>

<div class="row text-center mt-5">

</div>


<div class="hr-divider mt-5 mb-3">
  <h3 class="hr-divider-content hr-divider-heading">Important note on beer primary key.</h3>
</div>
  <pre>


class Beer(db.Model):
    """ Kind of beer in database. """

    __tablename__ = "beers"

    beer_code = db.Column(db.String(10), primary_key=True)

    name = db.Column(db.String(100), nullable=False)
    
    style_id = db.Column(db.Integer, nullable=True)
    
    year = db.Column(db.Integer, nullable=True)
    
    abv = db.Column(db.Float, nullable=True)
    
    description = db.Column(db.Text, nullable=True)
    
    beer_variation = db.Column(db.String(100), nullable=True)
    
    beer_variation_id = db.Column(db.String(100), nullable=True)
    
    ibu = db.Column(db.Float, nullable=True)
   

 </pre>



      </div>
    </div>
  </div>


   <!-- Latest compiled and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Link to my JavaScript -->
    <script src="static/dist/toolkit.js"></script>
    <script src="static/dist/tether.min.js"></script>
    <script src="static/dist/chart.js"></script>
    <script src="static/dist/tablesorter.min.js"></script>
    <script src="static/dist/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>


  </body>
</html>