<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whalz WIP</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/dist/toolkit-light.css">

    <style>
        html {
        background: url('static/ride.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

</head>
<body>
    <div class="statcard p-3">
      <style>
        body {
        background-color: transparent;
      }
    </style>

      <h3 class="statcard-number">Whalz</h3>
      <span class="statcard-desc">ISO for life</span>
    </div>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="icon icon-gauge"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">
                  <span class="icon icon-users"></span>
                  Members
                </a>
              </li>
            </ul>
    <!-- Latest compiled and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Link to my JavaScript -->
    <script src="static/dist/toolkit.js"></script>

</body>
</html>