<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whalz WIP</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/dist/toolkit-light.css">
</head>
<body>

<div class="container">
<div class="col-lg-4 mb-5">
  <div class="list-group mb-3">
    <h6 class="list-group-header">
                Members
              </h6>
  {% for user in users %}
  <a class="list-group-item list-group-item-action justify-content-between" href="#">
    <span>{{ user.user_id }}</span>
    <span class="ftext-muted">{{ user.email }}</span>
  </a>
  {% endfor %}
  </div>
</div>
 <!--    <ul>
      {% for user in users %}
          <li>
              <a href="/users/{{ user.user_id }}">
                {{ user.user_id }} ({{ user.email }})
              </a>
          </li>
      {% endfor %}
    </ul> -->
</div>
   <!-- Latest compiled and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Link to my JavaScript -->
    <script src="static/dist/toolkit.js"></script>

</body>
</html>


